img {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container .row {
  display: flex;
  align-items: center;
}

.background {
  background-color: #a53860;
  border-radius: 30% 70% 63% 37% / 30% 30% 70% 70%;
  border: solid 2px #6b1333;
  margin-right: 3rem;
}
