.navbar .navbar-brand,
.navbar .nav-link {
  color: white;
}

div h2 {
  background-color: #e8a87c;
  border-radius: 20% 80% 24% 76% / 68% 61% 39% 32%;
  display: inline-block;
  padding: 40px;
  height: 100px;
  color: white;
  z-index: 1;
  position: relative;
  animation: animateBorderRadius 18s infinite linear;
  box-shadow: 0px 0px 14px 7px rgba(6, 131, 93, 0.42);
}

div h2::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: rgb(226, 125, 95);
  border-radius: 64% 36% 69% 31% / 38% 50% 50% 62%;
  z-index: -1;
  animation: animateBorderRadius 17s infinite linear;
  box-shadow: 0px 0px 4px 2px rgba(153, 73, 48, 0.4);
}

@keyframes animateBorderRadius {
  0%,
  100% {
    border-radius: 20% 60% 24% 76% / 58% 27% 73% 32%;
  }
  20% {
    border-radius: 42% 58% 33% 67% / 53% 62% 38% 47%;
  }
  40% {
    border-radius: 37% 63% 29% 71% / 47% 52% 48% 53%;
  }
  60% {
    border-radius: 33% 67% 31% 69% / 56% 44% 55% 45%;
  }
  80% {
    border-radius: 36% 64% 34% 66% / 58% 42% 57% 43%;
  }
}

.text-center {
  text-align: center;
}

.center-wrapper {
  display: flex;
  justify-content: center;
}

.footer {
  position: absolute;
}

.navbar svg {
  transform: translateY(2px);
}

.my-form {
  margin-left: 2rem;
  transform: translateY(3px);
  width: 30rem;
}

@media (max-width: 991px) {
  .my-form {
    margin-left: 0;
    margin-top: 1rem;
    transform: translateY(-3px);
    order: -1;
    width: 100%;
  }
}

div .form-control {
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
}

div .navbar {
  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0);
  --bs-navbar-color: #e8a87c;
  --bs-navbar-disabled-color: white;
  --bs-navbar-active-color: #2c3e50;
  --bs-navbar-brand-color: white;
  --bs-navbar-brand-hover-color: white;
  --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27%23FFFFFF%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e);
  --bs-navbar-toggler-border-radius: 64% 36% 69% 31% / 38% 50% 50% 62%;
  color: rgb(226, 125, 95);
  position: relative;
}

div .my-placeholder {
  opacity: 1;
}

.my-placeholder::placeholder {
  text-align: center;
}

.footer-container h5,
span {
  cursor: pointer;
}
