.navbar .navbar-brand,
.navbar .nav-link {
  color: white;
}

div h2 {
  background-color: #e8a87c;
  border-radius: 20% 80% 24% 76% / 68% 61% 39% 32%;
  display: inline-block;
  padding: 30px;
  height: 100px;
  color: white;
  z-index: 1;
  position: relative;
  animation: animateBorderRadius 18s infinite linear;
}

div h2::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #e27d5f;
  border-radius: 64% 36% 69% 31% / 38% 50% 50% 62%;
  z-index: -1;
  animation: animateBorderRadius 20s infinite linear;
}

@keyframes animateBorderRadius {
  0%,
  100% {
    border-radius: 20% 80% 24% 76% / 68% 27% 73% 32%;
  }
  20% {
    border-radius: 25% 75% 30% 70% / 58% 71% 29% 42%;
  }
  40% {
    border-radius: 30% 70% 28% 72% / 50% 75% 25% 50%;
  }
  60% {
    border-radius: 35% 65% 26% 74% / 52% 73% 27% 48%;
  }
  80% {
    border-radius: 45% 55% 24% 76% / 89% 27% 73% 11%;
  }
}

.text-center {
  text-align: center;
}

.center-wrapper {
  display: flex;
  justify-content: center;
}

.footer {
  position: absolute;
}

.navbar svg {
  transform: translateY(2px);
}

div .form-control {
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
}

div .navbar {
  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0);
  --bs-navbar-color: #e8a87c;
  --bs-navbar-disabled-color: white;
  --bs-navbar-active-color: white;
  --bs-navbar-brand-color: white;
  --bs-navbar-brand-hover-color: white;
  --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27%23FFFFFF%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e);
  --bs-navbar-toggler-border-radius: 64% 36% 69% 31% / 38% 50% 50% 62%;
  color: rgb(226, 125, 95);
}
