body,
html,
#root {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #7dc2ad;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Barra di scorrimento verticale */
::-webkit-scrollbar {
  width: 14px; /* Larghezza della barra di scorrimento verticale */
}

/* Maniglia (o "thumb") della barra di scorrimento */
::-webkit-scrollbar-thumb {
  background-color: #e27d5f; /* Colore della maniglia */
  border-radius: 6px; /* Arrotondamento degli angoli della maniglia */
}

/* Maniglia della barra di scorrimento al passaggio del mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: #2c3e50; /* Colore della maniglia al passaggio del mouse */
}

/* Traccia (o "track") della barra di scorrimento */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Colore di sfondo della traccia */
  border-radius: 6px; /* Arrotondamento degli angoli della traccia */
}
